<div data-role="dialog" id="page13">
            <div data-role="header">
                <h1>Terms</h1>
            </div>
            <div data-role="content">
                <div class="div-widget">
                    <span>The information contained in this web site is provided as a service to the internet community. For each entry at this page is ONLY its own user responsible! Hitchhiking is not recommended for minors and should be carefully considered by all travellers before heading out. Shareyourride.net makes no claims, promises or guarantees about the accuracy, completeness, or adequacy of the information contained in or linked to this web site. Shareyourride.net accepts no responsibility or liability with regard to the information on this site.

Here are some security suggestions for your benefit, but ultimately you are responsible for your own safety. Please read the following information and use it to make smart decisions about your trip. Use common sense and, ultimately, if you don't feel comfortable traveling with someone, make other arrangements.

    Make arrangements to meet the person you're considering traveling with before agreeing to take the trip together. Meet in a public place and talk about the trip and your safety while driving.
    Let your friends or your family know where you're going, your estimated departure and arrival date and what route your take.
    Before you start the trip, exchange emergency contact information - at least one phone number for a family member or close friend. It's also a good idea to exchange important medical information you may have.
    Call your prospective travel partner's phone number to confirm it before the trip. Other ideas for establishing credibility and ensuring safety are to exchange copies of your driver's licenses or exchange photos of each other.
    Don't be afraid to ask for personal references and call them to establish trust in the person who will be driving you.
</span>
                </div>
            </div>
        </div>
        